<html>
<head>
    <title></title>
    <script src="/client/lib/bower_components/angular/angular.js" type="text/javascript"></script>
    <script src="/client/angularscripts/services/serviceLib.js"></script>
    <script src="/client/angularscripts/modules/modulelib.js"></script>
    <script src="/client/angularscripts/controllers/stateController.js"></script>
</head>
<body ng-app="AdminModule">
    <section ng-controller="stateCtrl">
        <select 
        ng-model="selectedState"
        ng-change="selectState()" ng-options="i as i.Name for i in result "></select>
    </section>
</body>
</html>